---
layout: default
---
<main class="shelf">
  {% for book in site.data.vhs %}
  <article class="book container d-flex justify-content-center align-items-center">
    <figure class="book-cover">
      <a href="{{ book.link }}">
        <img src="../images/vhs/{{ book.image }}" alt="{{ book.title }}" style="width: 260px; height: auto;">
      </a>
    </figure>
    <div class="book-info">
      <h2>{{ book.title }}</h2>
      <p>{{ book.author }}</p>
      <p>{% if book.who %}{% if book.who == "both" %}⚥{% elsif book.who == "him" %}♂️{%elsif book.who == "her" %}♀️{% endif %} | {% endif %}{{ book.date }}</p>
    </div>
  </article>
  {% endfor %}
</main>
